body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #F1EDE5;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.container {
    background-color: #F1EDE5;
    border: 1px solid #ddddddb0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    align-items: center;

}

.container_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    background-color: #F1EDE5;
    border: 1px solid #ddddddb0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    width: 80%;
    justify-items: center;
}

.botao {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 80%;
    margin: 0.5rem;
}

.botao_reduzido {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 50%;
}

.btn_azul {
    background-color: #2D2A7D;
    color: white;
}

.btn_azul:hover {
    background-color: #4642c2;
}

.btn_vermelho {
    background-color: #fa2020;
    color: white;

}

.btn_vermelho:hover {
    background-color: #c71a1a;
}

.btn_amarelo {
    background-color: #FEB715;
    color: black;
}

.btn_amarelo:hover {
    background-color: #e0a212;
}

.btn_verde {
    background-color: #80ed2d;
    color: black;
}

.btn_verde:hover {
    background-color: #5bab1f;
}

.indicador_setor{
    width: 80%;
    border: none;
    display: block;
}
.respostas{
    width: 65%;
}

.vertical{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content:start;

    border: 1px solid #ddddddb0;
    border-radius: 8px;
    border-radius: 8px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

    margin-top: 2rem;
}

.horizontal{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content:start;

    border: 1px solid #ddddddb0;
    border-radius: 8px;
    border-radius: 8px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

    margin-top: 1rem;
}
